# Initialize Blacklist
*

# Initialize Whitelist
!.gitignore
!gulpfile.js
!bower.json
!package.json
!jsdoc.json
!license.md
!README.md
!.eslintrc
!.eslintignore
!/src
!/src/**/*
!/dist
!/dist/**/*
!/tests
!/tests/**/*
# Documentation exceptions
!/docs
!/docs/**/*

# Blacklist other items
/tests/test.js
.DS_Store