# Initialize Blacklist
*
/styles/*.*

# Initialize Whitelist
!.gitignore
!/fonts
!/fonts/**/*
!/img
!/img/**/*
!/scripts
!/scripts/**/*
!/styles
!/styles/sunlight.dark.css
!/styles/site.teleprint.css
!index.html
!namespaces.list.html
!quicksearch.html
!teleprint.html

# Blacklist specific items
.DS_Store